<div id="leftSidebar">
        <div>
            <p><%- currentUser.firstName %> <%- currentUser.surname %></p>
        </div>
        <div>
            <img src="/images/leftSidebar/friends.png">
            <p>Find Friends</p>
        </div>
        <div>
            <img src="/images/leftSidebar/groups.png">
            <p>Groups</p>
        </div>
        <div>
            <img src="/images/leftSidebar/marketplace.png">
            <p>Marketplace</p>
        </div>
        <div>
            <img src="/images/leftSidebar/watch.png">
            <p>Watch</p>
        </div>
        <div>
            <img src="/images/leftSidebar/events.png">
            <p>Events</p>
        </div>
        <div>
            <img src="/images/leftSidebar/memories.png">
            <p>Memories</p>
        </div>
</div>