    <div id="landingPage">
        <div id="lpInfo">
            <img src="/images/fblogo.svg">
            <p>Facebook helps you connect and share<br>with the people in your life.</p>
        </div>
        <div id="loginFormContainer">
            <form id="loginForm" action="/login" method="POST">
                <input type="text" name="email" placeholder="Email address" required>
                <input type="password" name="password" placeholder="Password" required>
                <button>Log in</button>
            </form>
            <a href="">Forgotten password?</a>
            <button id="createAccountBtn" onclick='window.location.href = "/signup"'>Create New Account</button>
        </div>
    </div>
    <div id="lpFooter">
        <ul>
            <li>English (UK)</li>
            <li>Polski</li>
            <li>Espanol</li>
            <li>Francais (France)</li>
            <li>Italiano</li>
            <li>Romana</li>
            <li>Deutsch</li>
        </ul>
        <span>Facebook © 2021</span>
    </div>