<header>
    <div id="navbar">
        <div id="leftButtons">
            <div>Logo</div>
            <input type="search" placeholder="Search Facebook">
        </div>
        <div id="middleButtons">
            <div><img src="/images/navbar/home.svg"></div>
            <div><img src="/images/navbar/friends.svg"></div>
            <div><img src="/images/navbar/watch.svg"></div>
            <div><img src="/images/navbar/marketplace.svg"></div>
            <div><img src="/images/navbar/groups.svg"></div>
        </div>
        <div id="rightButtons">
            <div>Jake</div>
            <div>Create</div>
            <div>Message</div>
            <div>Notifactions</div>
            <div>Account</div>
        </div>
    </div>
</header>