<div id="postForm">
    <div id="postFormContainer">
        <form action="/createpost" method="POST">
            <input type="text" placeholder="What's on your mind, <%- currentUser.firstName %>?">
            <button>Post</button>
        </form>
    </div>
</div>