<div id="rightSidebar">
    <p>Contacts</p>
    <div class="sidebarContact">
        <img>
        <% currentUser.friends.forEach(friend => { %> 
        <p><%= friend %></p>
        <% }) %> 
    </div>
</div>