body {
    margin: 0;
}

#landingPage, #signupPage {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto) 1fr;
    grid-template-rows: 1fr auto 1fr;
    height: 95vh;
    background-color: #F0F2F5;
}

#loginFormContainer, #signupFormContainer {
    font-family: Helvetica, sans-serif;
    display: inline-grid;
    background-color: #FFFFFF;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    padding: 1rem;
    margin-left: 5rem;
    width: 23rem;
    height: 100%;
    box-shadow: 
    0 2px 4px rgb(0 0 0 / 10%), 
    0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5%;
}

#lpInfo, #supInfo {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#loginForm, #signupForm {
    display: inline-grid;
}

#loginForm > button, #signupForm > button {
    background-color: #1877F2;
    border: none;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.7rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#loginForm > input, #signupForm > input {
    margin: 0.5rem 0 0.5rem 0;
    border: 1px solid #dddfe2;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.7rem;
}

#loginFormContainer > a, #signupFormContainer > a {
    display: flex;
    justify-self: center;
    align-self: center;
    color: #1877F2;
    text-decoration: none;
    margin-bottom: 1rem;
}

#createAccountBtn, #loginBtn {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3rem;
    width: 60%;
    font-size: 1.2rem;
    padding: 0.7rem;
    background-color: #42B72A;
    color: white;
    font-weight: 900;
    margin-bottom: 1rem;
    cursor: pointer;
}

#loginBtn {
    margin-top: 1rem;
}

#lpInfo > img, #supInfo > img {
    height: 7rem;
    margin-left: -2rem;
}

#lpInfo > p, #supInfo > p {
    font-family: sans-serif;
    font-size: 28px;
    margin: -1rem 0 0 0 ;
}

#lpFooter, #supFooter {
    font-family: Arial, Helvetica, sans-serif;
    color: #949597;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lpFooter > ul > li, #supFooter > ul > li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

#lpFooter > span, #supFooter > span {
    margin-left: 5rem;
}

#home {
    margin: 0;
    background-color: #dddfe2;
    height: 100vh;
}

#navbar {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    background-color: white;
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
}

#middleButtons {
    display: flex;
    justify-content: center;
    grid-column: 3 / 3;
}

#rightButtons {
    grid-column: 5 / 5;
}

#leftButtons {
    grid-column: 1 / 1;
}

#leftButtons > div {
    margin: 0 0.5rem 0 0.5rem;
    display: inline-block;
    height: 100%;
}

#leftButtons > input {
    width: 15rem;
    border: 1px solid #dddfe2;
    border-radius: 5rem;
    padding: 0.5rem;
}

#rightButtons > div {
    margin: 0 0.5rem 0 0.5rem;
    display: inline-block;
    height: 100%;
}

#middleButtons > div {
    display: inline-block;
    padding: 0 1rem 0 1rem;
    height: 100%;
}

#middleButtons > div > img {
    height: 90%;
    opacity: 70%;
}

#middleButtons > div:hover > img {
    cursor: pointer;
    opacity: 100%;
}