body {
    margin: 0;
}

#landingPage, #signupPage {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto) 1fr;
    grid-template-rows: 1fr auto 1fr;
    height: 95vh;
    background-color: #F0F2F5;
}

#loginFormContainer, #signupFormContainer {
    font-family: Helvetica, sans-serif;
    display: inline-grid;
    background-color: #FFFFFF;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    padding: 1rem;
    margin-left: 5rem;
    width: 23rem;
    height: 100%;
    box-shadow: 
    0 2px 4px rgb(0 0 0 / 10%), 
    0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5%;
}

#lpInfo, #supInfo {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#loginForm, #signupForm {
    display: inline-grid;
}

#loginForm > button, #signupForm > button {
    background-color: #1877F2;
    border: none;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.7rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#loginForm > input, #signupForm > input {
    margin: 0.5rem 0 0.5rem 0;
    border: 1px solid #dddfe2;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.7rem;
}

#loginFormContainer > a, #signupFormContainer > a {
    display: flex;
    justify-self: center;
    align-self: center;
    color: #1877F2;
    text-decoration: none;
    margin-bottom: 1rem;
}

#createAccountBtn, #loginBtn {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.3rem;
    width: 60%;
    font-size: 1.2rem;
    padding: 0.7rem;
    background-color: #42B72A;
    color: white;
    font-weight: 900;
    margin-bottom: 1rem;
    cursor: pointer;
}

#loginBtn {
    margin-top: 1rem;
}

#lpInfo > img, #supInfo > img {
    height: 7rem;
    margin-left: -2rem;
}

#lpInfo > p, #supInfo > p {
    font-family: sans-serif;
    font-size: 28px;
    margin: -1rem 0 0 0 ;
}

#lpFooter, #supFooter {
    font-family: Arial, Helvetica, sans-serif;
    color: #949597;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lpFooter > ul > li, #supFooter > ul > li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

#lpFooter > span, #supFooter > span {
    margin-left: 5rem;
}

#home {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    margin: 0;
    background-color: #dddfe2;
    min-height: 95vh;
}

#navbar {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    background-color: white;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0 0.5rem 0;
}

#middleButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 3;
    height: 100%;
}

#rightButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5 / 5;
    height: 100%;
}

#leftButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 1;
    height: 100%;
}

#leftButtons > div {
    margin: 0 1rem 0 1rem;
    display: inline-flex;
    height: 100%;
}

#leftButtons > input {
    outline: none;
    border: none;
    width: 15rem;
    height: 85%;
    font-size: 1em;
    border-radius: 5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: #65676B;
    background-color: #F0F2F5;
}

#rightButtons > div {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0.7rem 0 0.7rem;
    display: inline-flex;
    height: 100%;
}

#middleButtons > div, #middleButtons > a{
    border-radius: 0.5rem;
    display: inline-flex;
    padding: 0 2rem 0 2rem;
    height: 100%;
}

#leftButtons > div > img {
    margin: auto;
    height: 85%;
}

#middleButtons > div > img, #middleButtons > a > img {
    margin: auto;
    height: 85%;
    filter: invert(64%) sepia(6%) saturate(97%) hue-rotate(181deg) brightness(92%) contrast(88%);
}

.background-circle {
    margin: auto;
    height: 85%;
    filter: invert(96%) sepia(7%) saturate(79%) hue-rotate(177deg) brightness(93%) contrast(92%);
}

#middleButtons > div:hover, #middleButtons > a:hover {
    cursor: pointer;
    background-color: #dddfe2;
    transform: scale(1.05);
}

.over-img {
    display: inline-flex;
    align-self: center;
    margin-left: 20%;
    position: absolute;
    height: 50%;
}

#navbarArrow {
    transform: rotate(90DEG);
}

#navbarCross {
    height: 40%;
    margin-left: 26%;
}

#navbarUser {
    font-weight: 900;
    font-family: Helvetica, sans-serif;
}

#homeContent {
    grid-column: 3 / 3;
}

#postBox {
    margin-top: 2rem;
    width: 35rem;
    background-color: #FFFFFF;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 
    0 1px 2px rgb(0 0 0 / 10%), 
    0 2px 4px rgb(0 0 0 / 10%);
}

#postBox > input {
    outline: none;
    border: none;
    width: 95%;
    padding: 0.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 5rem;
    font-size: 1.2em;
    color: #65676B;
    background-color: #F0F2F5;
}

#postBox >input:hover {
    background-color: #dddfe2;
}

#leftButtons > input:hover {
    background-color: #dddfe2;
}

#postBoxOptions > div {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    font-family: Helvetica, sans-serif;
    color: #65676B;
    border-radius: 0.5rem;
}

#postBoxOptions > div:hover {
    background-color: #dddfe2;
}

#postBoxOptions {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #dddfe2;
}

#homePosts {
    margin-top: 2rem;
    width: 35rem;
}

#mutualFriendBox {
    margin-top: 2rem;
    width: 35rem;
    background-color: #FFFFFF;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 
    0 1px 2px rgb(0 0 0 / 10%), 
    0 2px 4px rgb(0 0 0 / 10%);
}

#mutualFriendBox > p {
    display: inline-block;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: Helvetica, sans-serif;
}

#mutualFriendBox > a {
    float: right;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #1877F2;
}

.mutualFriendSlider, .friendRequests {
    display: inline-flex;
    width: 100%;
}

.mutualFriendSlider > div, .friendRequests > div {
    width: 100%;
    box-shadow: 
    0 1px 2px rgb(0 0 0 / 10%), 
    0 2px 4px rgb(0 0 0 / 10%);
    margin: 0.5rem;
}

.mutualFriendSlider > div > button, .friendRequests > div > button {
    width: 80%;
    background-color: #E7F3FF;
    color: #1877F2;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 0.8rem;
    cursor: pointer;
}

.mutualFriendSlider > div > p, .friendRequests > div > p {
    font-family: Helvetica, sans-serif;
    margin-left: 10%;
    font-weight: 900;
}

#rightSidebar {
    font-family: Helvetica, sans-serif;
    grid-column: 5 / 5;
    background-color: #dddfe2;
    width: 20rem;
}

#rightSidebar > p {
    color: #65676B;
    font-size: 1rem;
    font-weight: 900;
}

#rightSidebar > div > p {
    font-size: 0.9rem;
}

#leftSidebar {
    font-family: Helvetica, sans-serif;
    grid-column: 1 / 1;
    background-color: #dddfe2;
    width: 20rem;
}

.avatar {
    height: 10rem;
    width: 100%;
    background-color: lightblue;
}

#rightSidebar > p {
    margin: 0;
    margin-top: 2rem;
}

.posts {
    font-family: Helvetica, sans-serif;
    margin-top: 2rem;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 
    0 1px 2px rgb(0 0 0 / 10%), 
    0 2px 4px rgb(0 0 0 / 10%);
    margin-bottom: 1rem;
}

.postAuthor {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0;
}

.postDate {
    font-size: 0.7em;
    color: #65676B;
    margin: 0;
    margin-top: 0.2rem;
}

.postContent {
    font-size: 0.9em;
}

.postFooter {
    display: inline-flex;
    width: 100%;
    border-top: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;
}

.postFooter > div {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 0.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.postFooter > div:hover {
    background-color: #dddfe2;
}

.postComments > form > input {
        outline: none;
        border: none;
        width: 95%;
        padding: 0.5rem;
        padding-left: 1.5rem;
        margin-top: 0.8rem;
        height: 1rem;
        border-radius: 5rem;
        font-size: 1em;
        color: #65676B;
        background-color: #F0F2F5;
}

#leftSidebar > div > p {
    display: inline-block;
    margin: 0;
    margin-left: 1rem;
}

#leftSidebar > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
}

.postComments {
    display: grid;
}

.comments {
    word-break: break-all;
    justify-self: start;
    padding: 0.5rem;
    margin-top: 1rem;
    font-family: Helvetica, sans-serif;
    background-color: #F0F2F5;
    border-radius: 0.5rem;
}

.commentAuthor {
    font-weight: 900;
    margin: 0;
    font-size: 0.7em;
}

.commentContent {
    margin: 0;
    margin-top: 0.1rem;
    font-size: 0.9em;
}

.postLikes {
    display: inline-flex;
    align-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.postLikes > div > img {
    align-content: center;
    height: 1.2rem;
}

.postLikes > p {
    align-self: center;
    margin: 0;
    margin-left: 0.3rem;
    padding-bottom: 0.3rem;
    color: #65676B;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

.friendRequestActive {
    filter: invert(13%) sepia(73%) saturate(6990%) hue-rotate(360deg) brightness(93%) contrast(118%);
}

.friendRequests {
    margin-top: 3rem;
    height: fit-content;
    grid-column: 2 / 2;
}

.friendRequests > div {
    min-width: 200px;
}

#friendsPage {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0;
    background-color: #dddfe2;
    min-height: 95vh;
    width: 100%;
}